<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h5>数据分析 
            <select id="year">
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                </select>
            <select id="town">
                @foreach(Town x in ViewBag.Town)
                {
                    <option>@x.Title</option>
                }
            </select>
            <button id="send">统计</button>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>
    <div id="getbar"></div>
</div>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '全镇分析图'
            },
            credits:{
                enabled:false,

            },
            subtitle: {
                text: 'www.YIAN.com'
            },
            xAxis: {
                categories: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                crosshair: true,
                color: ['#2fe3fe', '#5985ff', '#00fff0'],
            },
            yAxis: {
                min: 0,
                title: {
                    text: '收入 (元)'
                },
                plotLines: [{
                    color: 'red',            //线的颜色，定义为红色
                    dashStyle: 'ShortDashDotDot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                    value: @ViewBag.LowLine,                //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    width: 2                //标示线的宽度，2px
                }],
            },
            tooltip: {
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    pointWidth:30
                },

            },
            series: [{
                name: '脱贫人口',
                type:'line',
                color:'green',
                data: [@ViewBag.AllRichJanCount+1000,@ViewBag.AllRichFebCount,@ViewBag.AllRichMarCount,@ViewBag.AllRichAprCount,@ViewBag.AllRichMayCount,@ViewBag.AllRichJunCount,@ViewBag.AllRichJulCount,@ViewBag.AllRichAugCount,@ViewBag.AllRichSepCount,@ViewBag.AllRichOctCount,@ViewBag.AllRichNovCount,@ViewBag.AllRichDecCount],
                //data: [2500,4564,2582,2688,2356,5986,2586,3458,3689,3658,2589,2582],
                tooltip: {
                    valueSuffix: '人'

                },

            }, {
                name: '脱贫人均收入',
                data: [@ViewBag.AllRichJan,@ViewBag.AllRichFeb,@ViewBag.AllRichMar,@ViewBag.AllRichApr,@ViewBag.AllRichMay,@ViewBag.AllRichJun,@ViewBag.AllRichJul,@ViewBag.AllRichAug,@ViewBag.AllRichSep,@ViewBag.AllRichOct,@ViewBag.AllRichNov,@ViewBag.AllRichDec],
                //data: [2500,4564,2582,2688,2356,5986,2586,3458,3689,3658,2589,2582],
                tooltip: {
                    valueSuffix: '元'

                },
            }, {
                name: '贫困人均收入',
                data: [@ViewBag.AllPoorJan,@ViewBag.AllPoorFeb,@ViewBag.AllPoorMar,@ViewBag.AllPoorApr,@ViewBag.AllPoorMay,@ViewBag.AllPoorJun,@ViewBag.AllPoorJul,@ViewBag.AllPoorAug,@ViewBag.AllPoorSep,@ViewBag.AllPoorOct,@ViewBag.AllPoorNov,@ViewBag.AllPoorDec],
                //data: [2500,4564,2582,2688,2356,5986,2586,3458,3689,3658,2589,2582],
                tooltip: {
                    valueSuffix: '元'

                },
            }]
        });
    });
    $("#send").click(function () {
        var year = $("#year").val();
        var town = $("#town").val();
        $.get("/Home/GetBar", { year: year, town: town }, function (html) {
            $("#getbar").html(html)
        });

    });
</script>
