<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h5>数据分析 
            <select id="year">
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                </select>
            <select id="town">
                @foreach(Town x in ViewBag.Town)
                {
                    <option>@x.Title</option>
                }
            </select>
            <button id="send">统计</button>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>
    <div id="getbar"></div>
</div>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '全镇分析图'
            },
            subtitle: {
                text: 'www.YIAN.com'
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true,
                color: ['#2fe3fe', '#5985ff', '#00fff0'],
            },
            yAxis: {
                min: 0,
                title: {
                    text: '收入 (元)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 元</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '脱贫人口',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 58.9, 54.4],
                events: {
                    click: function () {
                        alert("11111");

                    }

                }

            }, {
                name: '脱贫人均收入',
                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2],
                events: {
                    click: function () {
                        alert("11111");

                    }

                }

            }, {
                name: '贫困人均收入',
                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1],
                events: {
                    click: function () {
                        alert("11111");

                    }

                }

            }]
        });
    });
    $("#send").click(function () {
        var year = $("#year").val();
        var town = $("#town").val();
        $.get("/Home/GetBar", { year: year, town: town }, function (html) {
            $("#getbar").html(html)
        });

    });
</script>
