@{ 
    Layout = null;
}
<link href="~/styles/bootstrap.css" rel="stylesheet" />
    <div class="row">
        <div class="col-md-12">
            <h4>@ViewBag.Town.Title @ViewBag.Year 年数据</h4>
            <div id="newChart"></div>
        </div>
    </div>
<div id="chartResult" class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>所在村镇</th>
                    <th>户主名字</th>
                    <th>贫困原因</th>
                    <th>年人均收入</th>
                </tr>
            </thead>
            <tbody id="result-list">
                
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#newChart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '柱状分析图'
            },
            subtitle: {
                text: 'www.YIAN.com'
            },
            xAxis: {
                categories: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '收入 (元)'
                },
                plotLines: [{
                    color: 'red',            //线的颜色，定义为红色
                    dashStyle: 'ShortDashDotDot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                    value: @ViewBag.LowLine,                //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    width: 2                //标示线的宽度，2px
                }],

            },
            tooltip: {
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 1
                },
                series: {
                    pointWidth:40

                },
            },
            series: [{
                name: '脱贫人口数量',
                color:'#CC00CC',
                data: [@ViewBag.RichJanCount,,@ViewBag.RichMarCount,@ViewBag.RichAprCount,@ViewBag.RichMayCount,@ViewBag.RichJunCount,@ViewBag.RichJulCount,@ViewBag.RichAugCount,@ViewBag.RichSepCount,@ViewBag.RichOctCount,@ViewBag.RichNovCount,@ViewBag.RichDecCount],
                tooltip:{
                    valueSuffix:'人'

                },
            }, {
                name: '脱贫人均收入',
                color:'#00FF00',
                data: [{
                y:@ViewBag.RichJan,
                events:{
                    click:function(){
                        $.post("/Home/GetBarRich",
                            {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:1},
                            function(html){
                                $("#result-list").html(html);
                        });

                    }
                },
                },{
                    y:@ViewBag.RichFeb,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:2},
                                function(html){
                                    $("#result-list").html(html);
                                });
                        }
                    },
                }, {
                    y:@ViewBag.RichMar,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:3},
                                function(html){
                                    $("#result-list").html(html);
                                });
                        }
                    },
                }, {
                    y:@ViewBag.RichApr,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:4},
                                function(html){
                                    $("#result-list").html(html);
                                });
                        }
                    },
                },{
                    y: @ViewBag.RichMay,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:5},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },

                }, {
                    y:@ViewBag.RichJun,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:6},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.RichJul,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:7},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                },{
                    y:@ViewBag.RichAug,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:8},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.RichSep,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:9},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.RichOct,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:10},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.RichNov,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:11},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.RichDec,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarRich",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:12},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }],
                tooltip:{
                    valueSuffix:'元',

                },
            }, {
                name: '贫困人均收入',
                color:'#FF3366',
                data: [{
                    y:@ViewBag.PoorJan,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:1},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                },{
                    y:@ViewBag.PoorFeb,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:2},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorMar,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:3},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorApr,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:4},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorMay,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:5},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorJun,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:6},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorJul,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:7},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                },{
                    y:@ViewBag.PoorAug,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:8},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorSep,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:9},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorOct,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:10},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorNov,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:11},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }, {
                    y:@ViewBag.PoorDec,
                    events:{
                        click:function(){
                            $.post("/Home/GetBarPoor",
                                {townid:@ViewBag.Town.Id,year:@ViewBag.Year,month:12},
                                function(html){
                                    $("#result-list").html(html);
                                });

                        }
                    },
                }],
                tooltip:{
                    valueSuffix:'元',

                },
            }],
            credits:{
                enabled:false,

            },
        });

    });
</script>